.App {
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
}

.nasa-image {
  object-fit: cover;
  width: auto;
  height: 100vh;
}

.quote-container {
  background-color: #ffffff5c;
  border-radius: 10px;
  width: 600px;
  min-height: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote-text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hourglass-icon {
  color: white;
  font-size: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}