.App {
  text-align: center;
}

.quote-container {
  position: relative;
  text-align: center;
}

.nasa-image {
  object-fit: cover;
  width: auto;
  height: 100vh;
}

.quote-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hourglass-icon {
  color: white;
  font-size: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}